/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
  display: flex;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.logo {
  margin-right: auto;
}
.nav {
  margin-right: 30px;
}

/**-- Offerings Yuilia--*/

.offerings {
  background-image: url(../img/Rectangle694.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 824px;
  padding-top: 260px;
}



.off-set {
  display: flex;
justify-content: center;
 align-items: center;
}

.off-title {
  display: flex;
  flex-direction: column;
  width: 573px;
  margin-left: 160px;
}

.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 20px;
}
.offerings-text {
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 40px;
  width: 500px;
  height: 72px;
}

.off-order {
}

.list {
}
.offerings-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.off-icons {

}

.icon {
    background: #FEFEFE;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offerings-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c2c2c;
}
.offerings-subtext {
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}
.offerings-btn {
  background: #ffffff;
  color: #2c2c2c;
  cursor: pointer;
  border: 2px solid #7eb101;
  border-radius: 30px;
  font-weight: 500;
font-size: 13px;
line-height: 2;
width: 106px;
height: 40px;
}

.offerings-btn:hover {
  background: #BBF330;
  outline: transparent;
  border-color: #BBF330;
}
