/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
.link {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.logo {
  margin-right: auto;
}
.nav {
  margin-right: 30px;
}

.nav-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #2c2c2c;
}
.current {
  font-weight: 700;
  text-decoration-line: underline;
  color: #bbf330;
}

.header-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 18px;
  border: none;
}
